
/* TYTUŁ */
h2 {
	font-size:1.3em;
	text-align:center;
	color:#414141;
	margin-bottom:0px; padding:0px;
}
h3 {
	font-size:0.8em;
	text-align:center;
	color:#8f8f8f;
	margin-top:3px; padding-top:0px;
}
h3 a { 
	color:#747474;
}
/* CONTENT */ 
#content {
	border:solid 1px #dfdfdf;
	background:#ffffff;
	font-size:11px;
	margin:0 auto;
	overflow:hidden;
}
#content h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#535353;
}
#content img {
	padding:5px;
	background:#f7f7f7;
	border:solid 1px #464646;
	margin:2px
}
