
/* TYTUŁ */
h2 {
	font-size:1.3em;
	text-align:center;
	color:#414141;
	margin-bottom:0px; padding:0px;
}
h3 {
	font-size:0.8em;
	text-align:center;
	color:#8f8f8f;
	margin-top:3px; padding-top:0px;
}
h3 a { 
	color:#747474;
}
/* CONTENT */ 
#content {
	border:solid 1px #dfdfdf;
	background:#ffffff;
	font-size:11px;
	margin:0 auto;
	overflow:hidden;
}
#content h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#535353;
}
#content img {
	padding:5px;
	background:#f7f7f7;
	border:solid 1px #464646;
	margin:2px
}



table.hovertable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  width: 100%;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.tdbkstyle{
	background: #00a0e9
}